
body{
    background-color: #1F1F1E;
    display: flex;
    justify-content: center;

}
#cv-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  padding: 2rem;
  box-sizing: border-box;
}
#ind-h1{
  color: #2CB3B8;
  text-align: center;
  margin-top: 3vh;
  font-size: 2.5rem;

}
.photo img{
  border-radius: 50px 50px 50px 50px;
  max-width: 100%;
  height: auto;
}
#ind-h2{
  color: #206B6E;
 text-align: center;
  margin-bottom: 8vh;
  font-size: 1.5rem;
}
#goButton {
    /*display: grid
    place-items: center; /* centre verticalement ET horizontalement */
    height: auto;
  background-color: #F2AB01;
  border-radius: 2rem;
  width: 40vw;
  max-width: 300px;
  min-width: 180px;
  font-size: 1rem;
  color: #2CB3B8;
  padding: 1rem 2rem;
  margin: auto;
  display: block;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;

  }
  #goButton:hover {
    background-color: #e09d01;
  }
  .photo {
    /*display: grid;
    place-items: center; /* centre verticalement ET horizontalement */
    max-width: 90vw;
    padding: 2rem;
    margin: auto;
    text-align: center;
  }
  
  
  
  .container{
    display: flex;
    position: relative;
    background-color: white;
    width: 595px;  
    height: 842px; 
    /* justify-content: center; */
    margin: auto;
    box-sizing: border-box;
  }

  .cote-gauche{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #333333;
    z-index: 0 ;
  }
  .triangle{
    position: absolute;
    width: 100%;
    height: 166px;
    background: var(--bgc2);
    clip-path: polygon(0 0, 0 100%, 100% 0);
    z-index: 1;
  }
  .photo1 img{
    position: absolute;
    width: 92px;
    height: 97px;
    object-fit: cover;
    left: 100px;
    top: 85px;
    transform: translate(-50%, -50%); 
    border-radius: 50% 50% 50% 0;
    border: white solid 4px;
    z-index: 2 ;
  } 
  .cote-gauche .tg{
    position: absolute;
    width: 1px;  /* Épaisseur de la ligne*/ 
    height: 100%;  /* Hauteur de la ligne */
    background-color: white;  /* Couleur de la ligne */
    /* margin: 20px 0;  Espacement autour de la ligne */
    margin-left: 5%;
    z-index: 0;
  }
  .contact{
    position: absolute;
    top: 150px;
    left: 10px;
    z-index: 3;
  }
  .liste{
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column; /* important pour un affichage vertical */
    gap: 10px; /* espace vertical entre les <li> */
   }
   .cote-gauche .t1{
    position: absolute;
    width: 70%;  /* Épaisseur de la ligne*/ 
    height: 1px;  /* Hauteur de la ligne */
    background-color: white;  /* Couleur de la ligne */
    /* margin: 20px 0;  Espacement autour de la ligne */
    margin-top: 349px;
    margin-left: 50px;
    margin-right: 10px;
    z-index: 3;
   }
   .references{
    position: absolute;
    top: 366px;
    left: 10px;
    z-index: 3;
   }
   .bg-contact{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left: 32px;
    top: 11px;
   }
   .text-contact{
    position: absolute;
    left: 70px;
    top: 16px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 700;
    color: white;
   }
   .logo-contact{
    position: absolute;
    width: 31px;
    height: 28px;
    left: 7px;
    top: 7px;
   }
   .bg-tel{
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    top: 55px;
    left: 35px;
   }
   .text-tel{
    position: absolute;
    left: 70px;
    top: 60px;
    font-family: 'Inria Sans';
    color: white;
    width: 80px;
   }
   .logo-tel{
    position: absolute;
    width: 2px;
    height: 2px;
    top: 2px;
    left: 2px;
   }
   .bg-mail{
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    top: 89px;
    left: 35px;
   }
   .logo-mail{
    position: absolute;
    width: 2px;
    height: 2px;
    top: 2px;
    left: 2px;
   }
   .text-mail{
    position: absolute;
    top: 92px;
    left: 70px;
    font-family: 'Inria Sans';
    color: white;
   }
   .bg-local{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    top: 130px;
    left: 35px;
   }
   .logo-local{
    position: absolute;
    width: 2px;
    height: 2px;
    top: 2px;
    left: 4px;

   }
   .text-local{
    position: absolute;
    top: 131px;
    left: 69px;
    font-family: 'Inria Sans';
    color: white;
   }
   .bg-references{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left: 32px;
    top: 11px;
   }
   .text-references{
    position: absolute;
    left: 70px;
    top: 16px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 700;
    font-family: 'Inter';
    color: white;
   }
   .logo-ref{
    position: absolute;
    top: 5px;
    left: 8px;
   }
   .sory{
    position: absolute;
    top: 58px;
    left: 33px;
    line-height: 1.6;
   }
   .oumar{
    position: absolute;
    top: 142px;
    left: 33px;
    line-height: 1.6;
   }
   .oumar, .sory{
    color: white;
   }
   .cote-gauche .t2{
    position: absolute;
    width: 70%;
    height: 1px;
    background-color: white;
    margin-top: 601px;
    margin-left: 50px;
    margin-right: 10px;
    z-index: 3;
   }
   .education{
    position: absolute;
    top: 614px;
    left: 7px;
   }
   .text-educ{
    position: absolute;
    top: 15px;
    left: 71px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 700;
    font-family: 'Inter';
    color: white;
   }
   .bg-educ{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left: 32px;
    top: 11px;
   }
   .logo-educ{
    position: absolute;
    top: 5px;
    left: 8px;
    
   }
   .esgic{
    position: absolute;
    top: 51px;
    left: 33px;
    color: white;
    font-family: 'Inria sans';
    width: 209px;
  }
   .iug{
    position: absolute;
    top: 114px;
    left: 33px;
    color: white;
    font-family: 'Inria sans';
    width: 185px;
    
  }
   .triangle1{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24%;
    height: 100px;
    background: var(--bgc2);
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
   }
   .td{
    position: relative;
    width: 2px;
    height: 100%;
    background-color: black;
    left: 22px;
}
   .profile{
    position: absolute;
    top: 26px;
    right: 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 2px;
    text-align: center;
    color: #000000;
    background-color:  lightgray;
    width: 269px;
   }
   
  .cote-gauche .cercle1{
    position: absolute;
    width: 8px;
    height: 30px;
    background-color: #F2AB01;
    top: 40px;
    left: 14px;
    border-radius: 40%;
  }
  .cote-droite{
    position: absolute;
    height: 842px;
    width: 50%;
    top: 0px;
    right: 0;
  }
  .moi{
    position: absolute;
    top: 128px;
    padding-left: 45px;
    padding-right: 30px;
    font-size: 0.6rem;
    TEXT-ALIGN: justify;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
  }
  .moi span{
    position: absolute;
    font-size: 1rem;
    left: 90px;
    top: 12px;
    width: 223px;

  }
  .moi p{
    position: absolute;
    top: 45px;
    width: 223px;
    font-family: 'Inria sans';
    font-style: normal;
    font-size: 10px;
    line-height: 15px;

  }
  .bg-propos img{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .exp{
    position: absolute;
    padding-left: 45px;
    padding-right: 30px;
    font-size: 0.6rem;
    TEXT-ALIGN: justify;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    top: 323px;
  }
  .exp .expe{
    position: absolute;
    font-size: 1rem;
    left: 90px;
    top: -18px;
  }
  .exp p span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
  }
  .exp p {
    width: 220px;
    font-family: 'Inria sans';
    font-style: normal;
    font-size: 10px;
    line-height: 15px;
    margin-top: 24px;
  }
  .logo-propos{
    position: absolute;
    width: 2px;
    height: 2px;
  }
  .bg-propos{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--bgc2);
    border-radius: 50%;
  }
  #logo-propos{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 2px;
    top: 0px;
  }
  .exper{
    position: absolute;
    left: 45px;
    top: -30px;
    width: 30px;
    height: 30px;
    background: var(--bgc2);
    border-radius: 50%;
  }
  #logo-exp{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 2px;
    left: 2px;
  }
  .competence{
    position: absolute;
    top: 26px;
  }
  .comp{
    position: absolute;
    top: 481px;
    left: 43px;
    width: 30px;
    height: 30px;
    background: var(--bgc2);
    border-radius: 50%;
  }
  #logo-comp{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 2px;
    top: 2px;
  }
  .text-comp{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    top: 491px;
    left: 90px;
}
  .nvhtml{
    position: absolute;
    width: 70px;
    height: 7px;
    background-color: #000000;
    top: 547px;
    left: 165px;
  }
  .html{
    position: absolute;
    width: 50px;
    height: 7px;
    background: var(--bgc2);
  }
  .nvjava{
    position: absolute;
    width: 70px;
    height: 7px;
    background-color: #000000;
    top: 568px;
    left: 165px;
  }
  .java{
    position: absolute;
    width: 50px;
    height: 7px;
    background: var(--bgc2);
  }
  .nvfigma{
    position: absolute;
    width: 70px;
    height: 7px;
    background-color: #000000;
    top: 589px;
    left: 165px;
  }
  .figma{
    position: absolute;
    width: 35px;
    height: 7px;
    background: var(--bgc2);
  }
  .nvadobe{
    position: absolute;
    width: 70px;
    height: 7px;
    background-color: #000000;
    top: 609px;
    left: 165px;
  }
  .adobe{
    position: absolute;
    width: 35px;
    height: 7px;
    background: var(--bgc2);
  }
  .hcss{
    position: absolute;
    width: 62px;
    height: 11px;
    left: 46px;
    top: 544px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
  }
  .js{
    position: absolute;
    width: 62px;
    height: 11px;
    left: 46px;
    top: 568px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
  }
  .fig{
    position: absolute;
    width: 62px;
    height: 11px;
    left: 46px;
    top: 589px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
  }
  .ado{
    position: absolute;
    width: 62px;
    height: 11px;
    left: 46px;
    top: 609px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
  }
   .cgca{
    position: absolute;
    width: 8px;
    height: 30px;
    border-radius: 18%;
    background: var(--bgc2);
    left: 11px;
    top: 166px;
  }
  .cgcb{
    position: absolute;
    width: 8px;
    height: 30px;
    border-radius: 18%;
    background: var(--bgc2);
    left: 11px;
    top: 378px;
  }
  .cgcc{
    position: absolute;
    width: 8px;
    height: 30px;
    border-radius: 18%;
    background: var(--bgc2);
    left: 11px;
    top: 626px;
  }
  .cgcd{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--bgc2);
    left: 11px;
    top: 213px;
  }
  .cgce{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--bgc2);
    left: 11px;
    top: 247px;
  }
  .cgcf{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--bgc2);
    left: 11px;
    top: 288px;
  }
  .cgcg{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--bgc2);
    left: 11px;
    top: 433px; 
  }
  .cgch{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--bgc2);
    left: 11px;
    top: 516px;  
  }
  .cgci{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--bgc2);
    left: 11px;
    top: 671px;
  }
  .cgcj{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--bgc2);
    left: 11px;
    top: 734px;
  }
  .cdca{
    position: absolute;
    width: 8px;
    height: 55px;
    border-radius: 18%;
    background: var(--bgc2);
    left: 18px;
    top: 26px;
  }
  .cdcb{
    position: absolute;
    width: 8px;
    height: 30px;
    border-radius: 18%;
    background: var(--bgc2);
    left: 19px;
    top: 128px;
  }
  .cdcc{
    position: absolute;
    width: 8px;
    height: 30px;
    border-radius: 18%;
    background: var(--bgc2);
    left: 19px;
    top: 295px;
  }
  .cdcd{
    position: absolute;
    width: 8px;
    height: 30px;
    border-radius: 18%;
    background: var(--bgc2);
    left: 19px;
    top: 509px;
  }
  .cdce{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--bgc2);
    left: 19px;
    top: 352px
  }
  .cdcf{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--bgc2);
    left: 19px;
    top: 384px
  }
  .cdcg{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--bgc2);
    left: 19px;
    top: 430px
  }
  #retour{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: var(--bgc2);
    top: 682px;
    left: 33px;
  }
  #imgR{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 9px;
    left: 10px;
  }
  #couleur{
    position: absolute;
    background: var(--bgc2);
    top: 696px;
    left: 96px;
  }
  #btncouleur{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 9px;
    left: 10px;
  }
  :root{
    --bgc2: #F2AB01;
  }
  #tele{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: var(--bgc2);
    top: 682px;
    left: 165px;
  }
  #btntele{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 6px;
    left: 9px;
  }
  
   
  

















  /* ..................................................................................... */
  @media screen and (max-width: 768px) {
    .container {
      position: relative;
      overflow: hidden;
      flex-direction: column;
      width: 100%;
    }
  
    .cote-gauche{
      position:absolute;
      width: 50%;
      left: 0%;
      height: 100%;
    }
    .cote-droite {
      width: 50%;
      position:absolute;
      height: 100%;
      left: 50%;
      top: 0%;
    }
  
    .photo1 img {
      position: absolute;
      height: 9%;
      width: 37%;
      left: 44%;
      top: 10%;
      border-radius: 50% 50% 50% 0;
      border: white solid 4px;
      z-index: 2;
    }
    .tg{
      position: absolute;
      width: 1px;  
      height: 100%; 
      background-color: white;  
      margin-left: 5%;
      z-index: 0;

    }
    .triangle{
      position: absolute;
      width: 100%;
      height: 19%;
      background: var(--bgc2);
      clip-path: polygon(0 0, 0 100%, 100% 0);
      z-index: 1;
    }
    .oumar{
      position: absolute;
      top: 142px;
      left: 33px;
      line-height: 1.6;
    }
  
    .contact{
      position: absolute;
        top: 19%;
        left: -1%;
        z-index: 3;
    }
    .text-tel, .text-mail, .text-local{
      font-size: 52%;
      white-space: normal;
      word-wrap: break-word;
      display: block;
    }
    .references{
      position: absolute;
        top: 44%;
        left: -10%;
        margin-left: 11%;
        margin-right: 11%;
    }
    .education {
      position: absolute;
        top: 71%;
        left: -8%;
        margin: 20px;
    }
  
    .text-contact,
    .text-references,
    .text-educ {
      left: 72px;
        top: 20px;
        font-size: 10px;
    }
    .oumar{
      color: white;
      font-size: 52%;
    } .sory{
      color: white;
      font-size: 52%;
     }
     .esgic, .iug{
      color: white;
      font-size: 52%;
    }
    .profile{
        position: absolute;
        align-items: center;
        top: 2%;
        right: 0%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 2px;
        text-align: center;
        color: #000000;
        background-color: lightgray;
        width: 92%;
    }
  
    .moi,
     {
      position: absolute;
      top: 12%;
      padding: 20px;
     }
    .exp{
      position: absolute;
      top: 30%;
      padding: 20px;
    }
    .competence{
      position: absolute;
      top: 56%;
      padding: 20px;
    }
    .bg-propos{
        position: absolute;
        align-items: start;
        left: 37%;
    } .exper{
        position: absolute;
        align-items: start;
        left: 13%;
        top: 11%;
      } 
      .comp{
        position: absolute;
        align-items: start;
        left: 74%;
        top:50%;

    }
  
    .moi span{
      position: absolute;
      left: 97%;
      top: 10PX;
      font-size: 10px;
    }
    .exp .expe{
      position: absolute;
        left: 35%;
        top: 15%;
        font-size: 10px;
    }
    .text-comp {
      position: absolute;
      left: 184%;
      top: 74%;
      font-size: 10px;
    }
    .moi{
      position: absolute;
      top:11%
    }
    .moi p{
      position: absolute;
        top: 25px;
        width: 199%;
        font-family: 'Inria sans';
        font-style: normal;
        font-size: 10px;
        line-height: 15px;
  
    }
    .exp p {
      width: 92%;
      font-family: 'Inria sans';
      font-style: normal;
      font-size: 10px;
      line-height: 15px;
      margin-top: 44px;
      left: 11%;
      margin-left: 12%;
    }
    .atout{
      position: absolute;
      
    }
  
    .nvhtml{
        position: absolute;
        top: 147%;
        left: 334%;
        margin-top: 5px;
        width: 100%;
        max-width: 200px;
    }
    .nvjava{
        position: absolute;
        top: 186%;
        left: 334%;
        margin-top: 5px;
        width: 100%;
        max-width: 200px;
    }
    .nvfigma{
        position: absolute;
        top: 229%;
        left: 334%;
        margin-top: 5px;
        width: 100%;
        max-width: 200px;
    }
    .nvadobe {
        position: absolute;
        top: 269%;
        left: 334%;
        margin-top: 5px;
        width: 100%;
        max-width: 200px;
    }
  
    .hcss{
        position: absolute;
        left: 113%;
        top: 148%;
    }
    .js{
        position: absolute;
        left: 113%;
        top: 187%;
    }
    .fig{
        position: absolute;
        left: 113%;
        top: 230%;
    }
    .ado {
        position: absolute;
        left: 113%;
        top: 270%;
    }
    .t1{
      position: absolute;
      width: 70%;
      height: 1px;
      background-color: white;
      margin-top: 200%;
      margin-left: 14%;
      margin-right: 14%;
      z-index: 3;
    }
    .t2 {
      position: absolute;
      width: 70%;
      height: 1px;
      background-color: white;
      margin-top: 601px;
      margin-left: 50px;
      margin-right: 10px;
      z-index: 3;
    }
    .tg{
      position: absolute;
      align-items: start;
    }
    .td{
      position: absolute;
      align-items: start;
      left: 6%;
    }
    .cdca,
    .cdcb,
    .cdcc,
    .cdcd,
    .cdce,
    .cdcf,
    .cdcg,
    .cgca,
    .cgcb,
    .cgcc,
    .cgcd,
    .cgce,
    .cgcf,
    .cgcg,
    .cgch,
    .cgci,
    .cgcj {
      display: none;
    }
  }
  